# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Thro-Bot/bin/Windows/x86/Debug/Thro-Bot.vshost.exe.manifest
/Thro-Bot/obj/x86/Debug/Thro-Bot.pdb
/Thro-Bot/obj/x86/Debug/Thro-Bot.exe
/Thro-Bot/obj/x86/Debug
/Thro-Bot/bin/Windows/x86/Debug/Thro-Bot.pdb
/Thro-Bot/bin/Windows/x86/Debug/Thro-Bot.exe
/Thro-Bot/bin/Windows/x86/Debug/app.publish/Thro-Bot.exe
/Thro-Bot/bin/Windows/x86/Debug/Thro-Bot.vshost.exe
/Thro-Bot/bin/Windows/x86/Debug/Thro-Bot.vshost.application
/Thro-Bot/bin/Windows/x86/Debug/Thro-Bot.exe.manifest
/Thro-Bot/bin/Windows/x86/Debug/Thro-Bot.application
/Thro-Bot/obj/x86/Release
/Thro-Bot/bin/Windows/x86/Release/Thro-Bot.vshost.exe.manifest
/Thro-Bot/bin/Windows/x86/Release/Thro-Bot.vshost.exe
/Thro-Bot/bin/Windows/x86/Release/Thro-Bot.vshost.application
/Thro-Bot/bin/Windows/x86/Release/Thro-Bot.pdb
/Thro-Bot/bin/Windows/x86/Release/Thro-Bot.exe.manifest
/Thro-Bot/bin/Windows/x86/Release/Thro-Bot.exe
/Thro-Bot/bin/Windows/x86/Release/Thro-Bot.application
/Thro-Bot/bin/Windows/x86/Release/SharpDX.xml
/Thro-Bot/bin/Windows/x86/Release/SharpDX.XInput.xml
/Thro-Bot/bin/Windows/x86/Release/SharpDX.XInput.dll
/Thro-Bot/bin/Windows/x86/Release/SharpDX.XAudio2.xml
/Thro-Bot/bin/Windows/x86/Release/SharpDX.XAudio2.dll
/Thro-Bot/bin/Windows/x86/Release/SharpDX.RawInput.xml
/Thro-Bot/bin/Windows/x86/Release/SharpDX.RawInput.dll
/Thro-Bot/bin/Windows/x86/Release/SharpDX.MediaFoundation.xml
/Thro-Bot/bin/Windows/x86/Release/SharpDX.MediaFoundation.dll
/Thro-Bot/bin/Windows/x86/Release/SharpDX.DXGI.xml
/Thro-Bot/bin/Windows/x86/Release/SharpDX.DXGI.dll
/Thro-Bot/bin/Windows/x86/Release/SharpDX.dll
/Thro-Bot/bin/Windows/x86/Release/SharpDX.Direct3D9.xml
/Thro-Bot/bin/Windows/x86/Release/SharpDX.Direct3D9.dll
/Thro-Bot/bin/Windows/x86/Release/SharpDX.Direct3D11.xml
/Thro-Bot/bin/Windows/x86/Release/SharpDX.Direct3D11.dll
/Thro-Bot/bin/Windows/x86/Release/SharpDX.Direct2D1.xml
/Thro-Bot/bin/Windows/x86/Release/SharpDX.Direct2D1.dll
/Thro-Bot/bin/Windows/x86/Release/MonoGame.Framework.xml
/Thro-Bot/bin/Windows/x86/Release/MonoGame.Framework.dll
/Thro-Bot/bin/Windows/x86/Release/app.publish/Thro-Bot.exe
/Thro-Bot/Content/obj/Windows/Graphics/Trail.mgcontent
/Thro-Bot/Content/obj/Windows/Graphics
/Thro-Bot/Content/bin/Windows/Graphics/Trail.xnb
/Thro-Bot/Content/bin/Windows/Graphics
/Thro-Bot/bin/Windows/x86/Debug/Content/Graphics/Trail.xnb
/Thro-Bot/bin/Windows/x86/Debug/Content/Graphics
/Thro-Bot/bin/Windows/x86/Debug/Content/Sounds/ThrowDisc.xnb
/Thro-Bot/bin/Windows/x86/Debug/Content/Sounds/RecallDisc.xnb
/Thro-Bot/bin/Windows/x86/Debug/Content/Sounds/PlayerHurt.xnb
/Thro-Bot/bin/Windows/x86/Debug/Content/Sounds/DiscHitShield.xnb
/Thro-Bot/bin/Windows/x86/Debug/Content/Sounds/DiscHitEnemy.xnb
/Thro-Bot/Content/obj/Windows/Sounds/ThrowDisc.mgcontent
/Thro-Bot/Content/obj/Windows/Sounds/RecallDisc.mgcontent
/Thro-Bot/Content/obj/Windows/Sounds/PlayerHurt.mgcontent
/Thro-Bot/Content/obj/Windows/Sounds/DiscHitShield.mgcontent
/Thro-Bot/Content/obj/Windows/Sounds/DiscHitEnemy.mgcontent
